body {
  margin:0px;
  font-family:sans-serif;
  font-size:16px;
  color:#000;
  user-select:none;
  -webkit-user-select:none;
  text-size-adjust:none;
  overflow:hidden;
}

.trade {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:256px;
  background-color:rgba(200, 200, 200, 0.6);
  border-radius:5px;
  overflow:hidden;
  transition-property:opacity;
  transition-duration:250ms;
}

.trade[data-teleporting="1"] {
  opacity:0;
  pointer-events:none;
}

.trade[data-state="bar"] {
  height:25px;
}

.trade .titlebar {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  height:23px;
  line-height:23px;
  font-size:0px;
  padding-left:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border:1px solid #808080;
  background-image:url(trade.png);
  background-position:0px 0px;
}

.trade[data-state="bar"] .titlebar {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  background-position:0px -23px;
}

.trade .titlebar span {
  font-size:13px;
}

.trade .titlebar .buttons {
  position:absolute;
  top:4px;
  right:5px;
  display:inline-block;
  font-size:0px;
}

.trade .titlebar .buttons .button {
  display:inline-block;
  margin-left:1px;
  width:14px;
  height:13px;
  border:1px solid #666;
  border-radius:3px;
  background-image:url(trade.png);
  background-position-x:-328px;
  z-index:2;
}

.trade .titlebar .buttons .button[data-id="close"] {
  background-position-y:-54px;
}

.trade .titlebar .buttons .button[data-id="help"] {
  background-position-y:-67px;
}

.trade .titlebar .buttons .button[data-id="bar"],
.trade .titlebar .buttons .button[data-id="full"] {
  display:none;
}

.trade[data-state="full"] .titlebar .buttons .button[data-id="bar"] {
  display:inline-block;
  background-position-y:-80px;
}

.trade[data-state="bar"] .titlebar .buttons .button[data-id="full"] {
  display:inline-block;
  background-position-y:-93px;
}

.trade .titlebar .buttons .button:hover {
  background-position-x:-342px;
}

.trade .titlebar .buttons .button:hover:active {
  background-position-x:-356px;
}

.trade .intro {
  position:absolute;
  left:0px;
  right:0px;
  top:28px;
  line-height:13px;
  font-size:12px;
  text-align:center;
}

.trade .panel {
  position:absolute;
  top:57px;
  width:178px;
  height:157px;
  border:1px solid #666;
  border-radius:4px;
  overflow:hidden;
}

.trade .panel[data-id="give"] {
  left:4px;
}

.trade .panel[data-id="take"] {
  right:4px;
}

.trade .panel .title {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  height:14px;
  line-height:14px;
  padding:0px 4px;
  border-bottom:1px solid #666;
  background-color:#c4f0f8;
  font-size:11px;
  text-align:center;
}

.trade .panel .items {
  position:absolute;
  left:0px;
  right:0px;
  top:15px;
  bottom:15px;
  background-color:#fff;
  overflow-y:scroll;
}

.trade .panel .items .item {
  position:relative;
  width:100%;
  height:32px;
  border-bottom:1px dashed #999;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.trade .panel[data-id="give"] .items .item[data-hover="1"],
.trade .panel[data-id="give"] .items .item:hover {
  background-color:#f0f0f0;
}

.trade .panel .items[data-count="2"] .item:last-of-type {
  border-bottom:none;
}

.trade .panel .items .item span {
  display:block;
  font-size:10px;
  margin:0px 8px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.trade .panel .status {
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  height:14px;
  line-height:14px;
  padding:0px 4px;
  border-top:1px solid #666;
  font-size:11px;
  text-align:left;
  display:none;
}

.trade:not([data-givestep="2"]):not([data-givestep="3"]):not([data-givestep="4"]) .panel[data-id="give"] .status[data-id="default"],
.trade:not([data-takestep="2"]):not([data-takestep="3"]):not([data-takestep="4"]) .panel[data-id="take"] .status[data-id="default"],
.trade[data-givestep="2"] .panel[data-id="give"] .status[data-id="trading"],
.trade[data-takestep="2"] .panel[data-id="take"] .status[data-id="trading"] {
  background-color:#c4f0f8;
  display:inline-block;
}

.trade[data-givestep="3"] .panel[data-id="give"] .status[data-id="offer"],
.trade[data-takestep="3"] .panel[data-id="take"] .status[data-id="offer"] {
  background-color:#9d7;
  display:inline-block;
}

.trade[data-givestep="4"] .panel[data-id="give"] .status[data-id="confirmed"],
.trade[data-takestep="4"] .panel[data-id="take"] .status[data-id="confirmed"] {
  background-color:#fda;
  display:inline-block;
}

.trade .footer {
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  height:37px;
  padding-left:2px;
  font-size:0px;
  display:flex;
  justify-content:flex-start;
  pointer-events:none;
}

.trade[data-state="bar"] .footer {
  display:none;
}

.trade .footer .button {
  margin-left:2px;
  height:18px;
  line-height:18px;
  padding:1px;
  border:1px solid #666;
  border-radius:6px;
  vertical-align:top;
  background-image:url(trade.png);
  background-position-y:-31px;
  font-size:11px;
  text-align:center;
  pointer-events:all;
  display:none;
}

.trade .footer .button:hover {
  text-shadow:1px 1px 1px #0006;
}

.trade .footer .button:hover:active {
  text-shadow:0px 0px 2px #0006;
  padding:2px 0px 0px 2px;
}

.trade .footer .button[data-enabled="0"],
.trade .footer .button[data-enabled="0"]:hover,
.trade .footer .button[data-enabled="0"]:active {
  color:#7dbbca;
  text-shadow:1px 1px 0px rgba(255, 255, 255, 0.5);
  pointer-events:none;
}

.trade .footer .button.medium {
  width:56px;
  background-position:0px -54px;
}

.trade .footer .button.medium:hover {
  background-position-x:-58px;
}

.trade .footer .button.medium:hover:active {
  background-position-x:-116px;
}

.trade .footer .button.medium[data-enabled="0"],
.trade .footer .button.medium[data-enabled="0"]:hover,
.trade .footer .button.medium[data-enabled="0"]:active {
  background-position-x:-174px;
}

.trade .footer .button.huge {
  width:114px;
  background-position:0px -74px;
}

.trade .footer .button.huge:hover {
  background-position:-116px -74px;
}

.trade .footer .button.huge:hover:active {
  background-position:0px -94px;
}

.trade .footer .button.huge[data-enabled="0"],
.trade .footer .button.huge[data-enabled="0"]:hover,
.trade .footer .button.huge[data-enabled="0"]:active {
  background-position:-116px -94px;
}

.trade[data-givestep="2"] .footer .button[data-id="offer"] {
  display:inline-block;
}

.trade[data-givestep="3"] .footer .button[data-id="retract"],
.trade[data-givestep="4"] .footer .button[data-id="retract"] {
  display:inline-block;
}

.trade[data-givestep="2"] .footer .button[data-id="confirm"],
.trade[data-givestep="3"] .footer .button[data-id="confirm"],
.trade[data-givestep="4"] .footer .button[data-id="confirm"] {
  display:inline-block;
}

.trade .footer .bar {
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  height:8px;
  font-size:0px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border:1px solid #808080;
  background-image:url(trade.png);
  background-position:0px -46px;
}

.contextmenu {
  display:none;
  position:absolute;
  left:110px;
  top:74px;
  box-shadow:2px 2px 3px #0006;
  z-index:5;
}

.trade[data-state="full"] .contextmenu[data-active="1"] {
  display:block;
}

.contextmenu .item {
  margin-top:-1px;
  width:68px;
  height:14px;
  background-color:#fff;
  font-size:11px;
  border:1px solid #666;
}

.contextmenu .item:first-of-type {
  margin-top:0px;
}

.contextmenu .item:hover {
  background-color:#f0f0f0;
}

.contextmenu .item:hover:active {
  background-color:#c4f0f8;
}

.contextmenu .item[data-enabled="0"]:hover,
.contextmenu .item[data-enabled="0"]:active,
.contextmenu .item[data-enabled="0"] {
  color:#ccc;
  background-color:#fff;
  pointer-events:none;
}

.contextmenu .item .sound {
  padding-left:6px;
  width:62px;
  height:14px;
  pointer-events:auto;
}