body {
  margin:0px;
  font-family:tahoma, sans-serif;
  font-size:16px;
  color:#000;
  user-select:none;
  text-size-adjust:none;
  transform:scale(1);
  transform-origin:top left;
}

.changeme {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:354px;
  transition-property:opacity;
  transition-duration:250ms;
}

.changeme[data-teleporting="1"] {
  opacity:0;
  pointer-events:none;
}

.changeme svg.fill,
.changeme svg.border {
  position:absolute;
  left:0px;
  top:0px;
  pointer-events:none;
  display:none;
}

.changeme[data-state="full"][data-section="body"] svg.fill.body,
.changeme[data-state="full"][data-section="body"] svg.border.body {
  display:block;
}

.changeme[data-state="full"][data-section="wardrobe"] svg.fill.wardrobe,
.changeme[data-state="full"][data-section="wardrobe"] svg.border.wardrobe {
  display:block;
}

.changeme[data-state="bar"] svg.fill.bar,
.changeme[data-state="bar"] svg.border.bar {
  display:block;
}

.changeme svg.fill path {
  fill:#85a7b8c0;
}

.changeme svg.border path {
  stroke:#808080;
  fill:none;
}

.changeme .titlebar {
  position:absolute;
  left:49px;
  top:1px;
  width:144px;
  height:23px;
  line-height:23px;
  font-size:13px;
  padding-left:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom:1px solid #808080;
  background-image:url(changeme.png);
  background-position:0px -948px;
}

.changeme[data-state="bar"] .titlebar {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom:none;
  background-position:0px -971px;
}

.changeme .titlebar .buttons {
  position:absolute;
  top:4px;
  right:5px;
  display:inline-block;
  font-size:0px;
}

.changeme .titlebar .buttons .button {
  display:inline-block;
  margin-left:1px;
  width:14px;
  height:13px;
  border:1px solid #666;
  border-radius:3px;
  background-image:url(changeme.png);
  background-position-x:-158px;
  z-index:2;
}

.changeme .titlebar .buttons .button[data-id="close"] {
  background-position-y:-948px;
}

.changeme .titlebar .buttons .button[data-id="help"] {
  background-position-y:-961px;
}

.changeme .titlebar .buttons .button[data-id="bar"],
.changeme .titlebar .buttons .button[data-id="full"] {
  display:none;
}

.changeme[data-state="full"] .titlebar .buttons .button[data-id="bar"] {
  display:inline-block;
  background-position-y:-974px;;
}

.changeme[data-state="bar"] .titlebar .buttons .button[data-id="full"] {
  display:inline-block;
  background-position-y:-987px;
}

.changeme .titlebar .buttons .button:hover {
  background-position-x:-172px;
}

.changeme .titlebar .buttons .button:hover:active {
  background-position-x:-186px;
}

.areas {
  position:absolute;
  left:9px;
  top:54px;
  width:36px;
  height:235px;
  background-color:#fff;
  border:1px solid #666;
  border-radius:4px;
}

.areas .area {
  width:36px;
  background-image:url(changeme.png);
  background-repeat:no-repeat;
  display:none;
}

.areas .area[data-section="wardrobe"] {
  height:33px;
}

.areas .area[data-section="body"] {
  height:38px;
}

.changeme[data-section="wardrobe"][data-gender="male"] .areas .area[data-section="wardrobe"][data-gender="male"] {
  display:block;
}

.changeme[data-section="wardrobe"][data-gender="female"] .areas .area[data-section="wardrobe"][data-gender="female"] {
  display:block;
}

.changeme[data-section="body"] .areas .area[data-section="body"] {
  display:block;
}

.areas .area[data-gender="male"][data-area="hairstyles"] {
  background-position-y:-3px;
}

.areas .area[data-gender="male"][data-area="grooming"] {
  background-position-y:-43px;
}

.areas .area[data-gender="male"][data-area="accessories"] {
  background-position-y:-83px;
}

.areas .area[data-gender="male"][data-area="tops"] {
  background-position-y:-123px;
}

.areas .area[data-gender="male"][data-area="bottoms"] {
  background-position-y:-163px;
}

.areas .area[data-gender="male"][data-area="footware"] {
  background-position-y:-203px;
}

.areas .area[data-gender="male"][data-area="outfits"] {
  background-position-y:-243px;
}

.areas .area[data-gender="female"][data-area="hairstyles"] {
  background-position-y:-283px;
}

.areas .area[data-gender="female"][data-area="cosmetics"] {
  background-position-y:-323px;
}

.areas .area[data-gender="female"][data-area="accessories"] {
  background-position-y:-363px;
}

.areas .area[data-gender="female"][data-area="tops"] {
  background-position-y:-403px;
}

.areas .area[data-gender="female"][data-area="bottoms"] {
  background-position-y:-443px;
}

.areas .area[data-gender="female"][data-area="footware"] {
  background-position-y:-483px;
}

.areas .area[data-gender="female"][data-area="outfits"] {
  background-position-y:-523px;
}

.areas .area[data-area="head"] {
  background-position-y:-558px;
}

.changeme[data-gender="male"] .areas .area[data-area="face"] {
  background-position-y:-38px;
}

.changeme[data-gender="female"] .areas .area[data-area="face"] {
  background-position-y:-318px;
}

.areas .area[data-area="body"] {
  background-position-y:-598px;
}

.areas .area[data-area="skin"] {
  background-position-y:-638px;
}

.changeme[data-gender="male"] .areas .area[data-area="looksets"] {
  background-position-y:-238px;
}

.changeme[data-gender="female"] .areas .area[data-area="looksets"] {
  background-position-y:-518px;
}

.areas .area {
  background-position-x:-2px;
}

.areas .area:hover {
  background-position-x:-42px;
}

.areas .area:hover:active {
  background-position-x:-82px;
}

.areas .area.disabled {
  background-position-x:-162px;
}

.changeme[data-area="hairstyles"] .areas .area[data-area="hairstyles"],
.changeme[data-area="grooming"] .areas .area[data-area="grooming"],
.changeme[data-area="accessories"] .areas .area[data-area="accessories"],
.changeme[data-area="tops"] .areas .area[data-area="tops"],
.changeme[data-area="bottoms"] .areas .area[data-area="bottoms"],
.changeme[data-area="footware"] .areas .area[data-area="footware"],
.changeme[data-area="outfits"] .areas .area[data-area="outfits"],
.changeme[data-area="head"] .areas .area[data-area="head"],
.changeme[data-area="face"] .areas .area[data-area="face"],
.changeme[data-area="body"] .areas .area[data-area="body"],
.changeme[data-area="skin"] .areas .area[data-area="skin"],
.changeme[data-area="looksets"] .areas .area[data-area="looksets"] {
  background-position-x:-122px;
  pointer-events:none;
}

.areas .arrow {
  position:absolute;
  left:-10px;
  width:12px;
  height:9px;
  background-image:url(changeme.png);
  background-position:-188px -930px;
  border:1px solid #333;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  border-top-right-radius:10px 5.5px;
  border-bottom-right-radius:10px 5.5px;
  transition:top 0.2s;
  transition-timing-function:ease-out;
}

.changeme[data-section="wardrobe"][data-area="hairstyles"] .areas .arrow {
  top:11px;
}

.changeme[data-section="wardrobe"][data-area="grooming"] .areas .arrow,
.changeme[data-section="wardrobe"][data-area="cosmetics"] .areas .arrow {
  top:44px;
}

.changeme[data-section="wardrobe"][data-area="accessories"] .areas .arrow {
  top:77px;
}

.changeme[data-section="wardrobe"][data-area="tops"] .areas .arrow {
  top:110px;
}

.changeme[data-section="wardrobe"][data-area="bottoms"] .areas .arrow {
  top:143px;
}

.changeme[data-section="wardrobe"][data-area="footware"] .areas .arrow {
  top:176px;
}

.changeme[data-section="wardrobe"][data-area="outfits"] .areas .arrow {
  top:209px;
}

.changeme[data-section="body"][data-area="head"] .areas .arrow {
  top:19px;
}

.changeme[data-section="body"][data-area="face"] .areas .arrow {
  top:55px;
}

.changeme[data-section="body"][data-area="body"] .areas .arrow {
  top:93px;
}

.changeme[data-section="body"][data-area="skin"] .areas .arrow {
  top:131px;
}

.changeme[data-section="body"][data-area="looksets"] .areas .arrow {
  top:169px;
}

.sections {
  position:absolute;
  left:53px;
  top:45px;
  width:139px;
  height:272px;
}

.sections .section {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:272px;
  border:1px solid #666;
  border-top:none;
  background-color:#abd2d9;
}

.sections .section .tab {
  position:absolute;
  border:1px solid #666;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  background-color:#abd2d9;
  font-size:11px;
  text-align:center;
  z-index:2;
}

.sections .section[data-section="body"] .tab {
  left:-1px;
  top:-16px;
  width:57px;
  height:15px;
}

.sections .section[data-section="wardrobe"] .tab {
  right:-1px;
  top:-16px;
  width:81px;
  height:15px;
}

.changeme[data-section="body"] .sections .section[data-section="body"],
.changeme[data-section="wardrobe"] .sections .section[data-section="wardrobe"] {
  background-color:#c4f0f8;
  z-index:1;
}

.changeme[data-section="body"] .sections .section[data-section="body"] .tab,
.changeme[data-section="wardrobe"] .sections .section[data-section="wardrobe"] .tab {
  background-color:#c4f0f8;
  border-bottom:none;
  pointer-events:none;
}

.sections .section[data-section="wardrobe"] .panel {
  position:absolute;
  top:5px;
  left:4px;
  width:129px;
  height:261px;
  background-color:#fff;
  border:1px solid #666;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  overflow:hidden;
}

.sections .section[data-section="wardrobe"] .panel .title {
  height:17px;
  line-height:17px;
  background-color:#e5f3f8;
  font-size:11px;
  text-align:center;
  color:#333;
  border-bottom:1px solid #666;
}

.sections .section[data-section="wardrobe"] .panel .items {
  height:243px;
  overflow-y:scroll;
}

.sections .section[data-section="wardrobe"] .panel .items .empty {
  padding:10px 5px;
  font-size:11px;
}

.sections .section[data-section="wardrobe"] .panel .items .item {
  height:48px;
  border-bottom:1px dashed #999;
}

.sections .section[data-section="wardrobe"] .panel .items .item:hover {
  background-color:#f0f0f0;
}

.sections .section[data-section="wardrobe"] .panel .items .item[data-selected="1"] {
  background-color:#c4f0f8;
}

.sections .section[data-section="wardrobe"] .panel .items .item:last-of-type {
  /*border-bottom:none;*/
}

.sections .section[data-section="wardrobe"] .panel .items .item .icon {
  display:inline-block;
  width:48px;
  height:48px;
  background-position:center;
  background-repeat:no-repeat;
}

.sections .section[data-section="wardrobe"] .panel .items .item .name {
  display:inline-flex;
  width:calc(100% - 53px);
  height:48px;
  padding-right:5px;
  vertical-align:top;
  font-size:10px;
  align-items:center;
  overflow:hidden;
}

.sections .section[data-section="wardrobe"] .panel .items[data-count="0"] {
  overflow-y:hidden;
}

.sections .section[data-section="wardrobe"] .panel .items:not([data-count="0"]) .empty {
  display:none;
}

.sections .section[data-section="wardrobe"] .panel .items[data-count="0"] .item {
  display:none;
}

/*-----------------------------------------------------------------------------*/

.sections .section[data-section="body"] .panel {
  position:absolute;
  top:5px;
  left:4px;
  width:129px;
  height:261px;
  background-color:#fff;
  border:1px solid #666;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  overflow:hidden;
  font-size:0px;
}

.sections .section[data-section="body"] .panel .title {
  height:17px;
  line-height:17px;
  background-color:#e5f3f8;
  font-size:11px;
  text-align:center;
  color:#333;
  border-bottom:1px solid #666;
}

.sections .section[data-section="body"] .panel .editor,
.sections .section[data-section="body"] .panel .items[data-area="looksets"] {
  display:none;
}

.changeme[data-area="head"] .sections .section[data-section="body"] .panel .editor[data-area="head"] {
  display:block;
}

.sections .section[data-section="body"] .panel .editor[data-area="head"] .items {
  height:243px;
}

.sections .section[data-section="body"] .panel .editor[data-area="head"] .item {
  position:relative;
  height:40px;
}

.sections .section[data-section="body"] .panel .editor[data-area="head"] .item .icon {
  display:inline-block;
  width:40px;
  height:40px;
  background-color:blue;
}

.sections .section[data-section="body"] .panel .editor[data-area="head"] .item .slider {
  position:absolute;
  margin-left:10px;
  top:calc(50% - 3px);
}

.changeme[data-area="face"] .sections .section[data-section="body"] .panel .editor[data-area="face"] {
  display:block;
}

.sections .section[data-section="body"] .panel .editor[data-area="face"] .items {
  height:243px;
  display:none;
}

.changeme[data-subarea="eyes-ears"] .sections .section[data-section="body"] .panel .editor[data-area="face"] .items[data-subarea="eyes-ears"],
.changeme[data-subarea="nose"] .sections .section[data-section="body"] .panel .editor[data-area="face"] .items[data-subarea="nose"],
.changeme[data-subarea="chin-cheeks"] .sections .section[data-section="body"] .panel .editor[data-area="face"] .items[data-subarea="chin-cheeks"],
.changeme[data-subarea="mouth"] .sections .section[data-section="body"] .panel .editor[data-area="face"] .items[data-subarea="mouth"] {
  display:block;
}

.sections .section[data-section="body"] .panel .editor[data-area="face"] .subareas {
  position:relative;
}

.sections .section[data-section="body"] .panel .editor[data-area="face"] .subareas .subarea {
  font-size:11px;
}

.sections .section[data-section="body"] .panel .editor[data-area="face"] .subareas .button {
  position:absolute;
  top:0px;
  right:0px;
  width:10px;
  height:100%;
  background-color:orange;
}

.sections .section[data-section="body"] .panel .editor[data-area="face"] .item {
  position:relative;
  height:40px;
}

.sections .section[data-section="body"] .panel .editor[data-area="face"] .item .icon {
  display:inline-block;
  width:40px;
  height:40px;
  background-color:blue;
}

.sections .section[data-section="body"] .panel .editor[data-area="face"] .item .slider {
  position:absolute;
  margin-left:10px;
  top:calc(50% - 3px);
}

.changeme[data-area="body"] .sections .section[data-section="body"] .panel .editor[data-area="body"] {
  display:block;
}

.sections .section[data-section="body"] .panel .editor[data-area="body"] .items {
  height:243px;
}

.sections .section[data-section="body"] .panel .editor[data-area="body"] .item {
  text-align:center;
}

.sections .section[data-section="body"] .panel .editor[data-area="body"] .item .name {
  font-size:11px;
}

.sections .section[data-section="body"] .panel .editor[data-area="body"] .item .slider {
  position:relative;
}

.changeme[data-area="skin"] .sections .section[data-section="body"] .panel .editor[data-area="skin"] {
  display:block;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .items {
  height:243px;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .item {
  margin-bottom:1px;
  height:30px;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .item:hover {
  background-color:yellow;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .item[data-selected="1"] {
  margin-top:-1px;
  margin-bottom:0px;
  border-top:1px solid red;
  border-bottom:1px solid red;
  background-color:pink;
  pointer-events:none;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .item:first-of-type {
  margin-top:0px;
  border-top:none;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .item:last-of-type {
  margin-bottom:0px
  border-bottom:none;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .item .icon {
  display:inline-block;
  width:40px;
  height:30px;
  background-color:blue;
  vertical-align:top;
}

.sections .section[data-section="body"] .panel .editor[data-area="skin"] .item .name {
  display:inline-block;
  height:30px;
  line-height:30px;
  font-size:11px;
  vertical-align:top;
}

.changeme[data-area="looksets"] .sections .section[data-section="body"] .panel .items[data-area="looksets"] {
  display:block;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"] .empty {
  padding:10px 5px;
  font-size:11px;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"] {
  height:243px;
  overflow-y:scroll;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"] .item {
  height:48px;
  border-bottom:1px dashed #999;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"] .item:hover {
  background-color:#f0f0f0;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"] .item[data-selected="1"] {
  background-color:#c4f0f8;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"] .item:last-of-type {
  /*border-bottom:none;*/
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"] .item .name {
  height:48px;
  padding-right:5px;
  vertical-align:top;
  font-size:10px;
  align-items:center;
  overflow:hidden;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"][data-count="0"] {
  overflow-y:hidden;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"]:not([data-count="0"]) .empty {
  display:none;
}

.sections .section[data-section="body"] .panel .items[data-area="looksets"][data-count="0"] .item {
  display:none;
}

.sections .section[data-section="body"] .spa {
  position:absolute;
  top:35px;
  left:8px;
  width:129px;
  font-size:11px;
  line-height:14px;
}

.sections .section[data-section="body"] .spa .link {
  color:#069;
  text-decoration:underline;
}

.sections .section[data-section="body"] .spa .link:hover {
  text-decoration:none;
}

.changeme[data-spa="1"] .sections .section[data-section="body"] .spa,
.changeme[data-area="looksets"] .sections .section[data-section="body"] .spa {
  display:none;
}

.changeme:not([data-spa="1"]):not([data-area="looksets"]) .sections .section[data-section="body"] .panel {
  display:none;
}

.slider {
  display:inline-block;
  width:60px;
  height:6px;
  background-color:red;
}

.slider .knob {
  display:inline-block;
  position:absolute;
  top:-2px;
  left:-2px;
  width:10px;
  height:10px;
  background-color:green;
}

/*-----------------------------------------------------------------------------*/

.footer {
  position:absolute;
  left:54px;
  top:324px;
  width:138px;
  height:22px;
  font-size:0px;
  display:flex;
  justify-content:space-between;
}

.footer .button {
  display:inline-block;
  margin-left:2px;
  height:18px;
  line-height:18px;
  padding:1px;
  border:1px solid #666;
  border-radius:6px;
  vertical-align:top;
  background-image:url(changeme.png);
  font-size:11px;
  text-align:center;
}

.footer .button:hover {
  text-shadow:1px 1px 1px #0006;
}

.footer .button:hover:active {
  text-shadow:0px 0px 2px #0006;
  padding:2px 0px 0px 2px;
}

.footer .button[data-enabled="0"],
.footer .button[data-enabled="0"]:hover,
.footer .button[data-enabled="0"]:active {
  pointer-events:none;
  color:#7dbbca;
  text-shadow:1px 1px 1px #fff;
}

.footer .button.medium {
  width:34px;
  background-position:0px -908px;
}

.footer .button.medium:hover {
  background-position-x:-36px;
}

.footer .button.medium:hover:active {
  background-position-x:-72px;
}

.footer .button.medium[data-enabled="0"],
.footer .button.medium[data-enabled="0"]:hover,
.footer .button.medium[data-enabled="0"]:active {
  background-position-x:-108px;
}

.footer .button.big {
  width:55px;
  background-position:0px -928px;
}

.footer .button.big:hover {
  background-position-x:-57px;
}

.footer .button.big:hover:active {
  background-position-x:-114px;
}

.changeme[data-state="bar"] .areas,
.changeme[data-state="bar"] .sections,
.changeme[data-state="bar"] .footer {
  display:none;
}
