body {
  margin:0px;
  font-family:tahoma, sans-serif;
  font-size:16px;
  color:#000;
  user-select:none;
  text-size-adjust:none;
  overflow:hidden;
}

.hud {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:88px;
  overflow:hidden;
  border-top:1px solid #000;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.hud::before {
  position:absolute;
  left:0px;
  right:0px;
  height:100%;
  background-image:var(--image);
  background-size:100% 100%;
  content:' ';
}

.hud[data-alpha="1"]::before {
  opacity:0.25;
}

.hud[data-alpha="2"]::before {
  opacity:0.50;
}

.hud[data-alpha="3"]::before {
  opacity:0.75;
}

.button.small {
  display:inline-block;
  width:14px;
  height:13px;
  border:1px solid #000;
  border-radius:3px;
  background-image:url(hud.png);
  background-position:0px 0px;
}

.button.small:hover {
  background-position-y:-13px;
}

.button.small:hover:active {
  background-position-y:-26px;
}

.button.small[data-enabled="0"],
.button.small[data-enabled="0"]:hover,
.button.small[data-enabled="0"]:active {
  background-position-y:-39px;
  pointer-events:none;
}

.button.short {
  display:inline-block;
  width:19px;
  height:14px;
  padding:1px;
  border:1px solid #000;
  border-radius:4px;
  background-image:url(hud.png);
  background-position:0px -52px;
  vertical-align:top;
  text-align:center;
  line-height:14px;
  font-size:11px;
  color:#fff;
}

.button.short:hover {
  background-position-y:-68px;
  text-shadow:1px 1px 1px #0006;
}

.button.short:hover:active {
  background-position-y:-84px;
  text-shadow:0px 0px 2px #0006;
  padding:2px 0px 0px 2px;
}

.button.short[data-enabled="0"],
.button.short[data-enabled="0"]:hover,
.button.short[data-enabled="0"]:active {
  background-position-y:-100px;
  pointer-events:none;
  padding:1px;
  color:rgba(0, 0, 0, 0.5);
  text-shadow:1px 1px 0px rgba(255, 255, 255, 0.4);
}

.button.medium {
  display:inline-block;
  width:48px;
  height:14px;
  padding:1px;
  border:1px solid #000;
  border-radius:6px;
  background-image:url(hud.png);
  background-position:-21px -52px;
  vertical-align:top;
  text-align:center;
  line-height:14px;
  font-size:11px;
  color:#fff;
}

.button.medium:hover {
  background-position-y:-68px;
  text-shadow:1px 1px 1px #0006;
}

.button.medium:hover:active {
  background-position-y:-84px;
  text-shadow:0px 0px 2px #0006;
  padding:2px 0px 0px 2px;
}

.button.medium[data-enabled="0"],
.button.medium[data-enabled="0"]:hover,
.button.medium[data-enabled="0"]:active {
  background-position-y:-100px;
  pointer-events:none;
  padding:1px;
  color:rgba(0, 0, 0, 0.5);
  text-shadow:1px 1px 0px rgba(255, 255, 255, 0.4);
}

.button.large {
  display:inline-block;
  width:62px;
  height:18px;
  padding:1px;
  border:1px solid #000;
  border-radius:8px;
  background-image:url(hud.png);
  background-position:0px -116px;
  vertical-align:top;
  text-align:center;
  line-height:18px;
  font-size:11px;
  color:#fff;
}

.button.large:hover {
  background-position-y:-136px;
  text-shadow:1px 1px 1px #0006;
}

.button.large:hover:active {
  background-position-y:-156px;
  text-shadow:0px 0px 2px #0006;
  padding:2px 0px 0px 2px;
}

.button.large[data-enabled="0"],
.button.large[data-enabled="0"]:hover,
.button.large[data-enabled="0"]:active {
  background-position-y:-176px;
  pointer-events:none;
  padding:1px;
  color:rgba(0, 0, 0, 0.5);
  text-shadow:1px 1px 0px rgba(255, 255, 255, 0.4);
}

.button.mood {
  margin-left:12px;
  margin-top:8px;
  display:inline-block;
  width:19px;
  height:19px;
  border:1px solid #000;
  border-radius:6px;
  background-image:url(hud.png);
  background-position-y:-196px;
}

.button.mood[data-state="normal"] {
  background-position-x:0px;
}

.button.mood[data-state="strong"] {
  background-position-x:-19px;
}

.button.mood[data-state="tentative"] {
  background-position-x:-38px;
}

.button.mood:hover {
  background-position-y:-215px;
}

.button.mood:hover:active {
  background-position-y:-234px;
}

.button.mood[data-enabled="0"],
.button.mood[data-enabled="0"]:hover,
.button.mood[data-enabled="0"]:active {
  background-position-y:-253px;
  pointer-events:none;
}

.left {
  position:relative;
  width:206px;
  height:100%;
  border-left:1px solid #000;
  border-right:1px solid #000;
  background-color:rgba(0, 0, 0, 0.15);
}

.left .tabs {
  width:100%;
  height:24px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.left .tabs .tab {
  position:relative;
  flex:2 1 auto;
  height:24px;
  box-sizing:border-box;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  background-color:rgba(0, 0, 0, 0.15);
  line-height:22px;
  font-size:11px;
  text-align:center;
  color:rgba(255, 255, 255, 0.5);
}

.left .tabs .tab::before {
  position:absolute;
  left:0px;
  right:0px;
  height:100%;
  border-left:1px solid rgba(255, 255, 255, 0.25);
  border-right:1px solid rgba(0, 0, 0, 0.5);
  content:' ';
  pointer-events:none;
}

.left .tabs .tab:last-of-type {
  border-right:none;
}

.left .tabs .tab:hover {
  color:rgba(255, 255, 255, 0.75);
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
}

.left .tabs .tab[data-selected="1"] {
  border-bottom:none;
  background-color:transparent;
  color:#fff;
  text-shadow:none;
}

.left .panels {
  width:205px;
  height:calc(100% - 24px);
  border-right:1px solid rgba(0, 0, 0, 0.5);
}

.left .panel {
  position:relative;
  display:none;
}

.left .panel[data-selected="1"] {
  display:block;
  height:100%;
}

.left .panel .messages {
  position:absolute;
  left:5px;
  right:5px;
  top:3px;
  bottom:3px;
  border:1px solid #000;
  background-color:rgba(255, 255, 255, 0.4);
  overflow-y:scroll;
  font-size:11px;
  color:#000;
}

.left .panel .messages::-webkit-scrollbar {
  background-color:transparent;
  width:14px;
  height:14px;
  border-left:1px solid #000;
}

.left .panel .messages::-webkit-scrollbar-thumb {
  background-color:rgba(255, 255, 255, 0.7);
  border-left:1px solid #000;
}

.left .panel .messages::-webkit-scrollbar-thumb:hover,
.left .panel .messages::-webkit-scrollbar-thumb:active {
  background-color:rgba(255, 255, 255, 0.9);
}

.middle {
  position:relative;
  height:100%;
}

.right {
  position:relative;
  width:43px;
  height:100%;
  border-left:1px solid #000;
  border-right:1px solid #000;
  background-color:rgba(0, 0, 0, 0.15);
}

.right::before {
  position:absolute;
  left:0px;
  right:0px;
  height:100%;
  border-left:1px solid rgba(255, 255, 255, 0.25);
  content:' ';
  pointer-events:none;
}

.right .buttons {
  margin-left:5px;
  margin-top:4px;
  font-size:0px;
  height:15px;
}

.right .button.small {
  margin-left:1px;
}

.right .button.small[data-id="close"] {
  background-position-x:-14px;
}

.right .button.small[data-id="help"] {
  background-position-x:-28px;
}

.right .button.small[data-id="drag"] {
  background-position-x:-42px;
}

.right .button.small[data-id="alpha"] {
  background-position-x:-56px;
}