.hud {
  height:99px;
}

.left .panel[data-id="game"] .logo,
.left .panel[data-id="play"] .layer[data-id="play"] .logo {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  height:54px;
  background-image:url(logo_holdem.png);
}

.left .panel[data-id="game"] .button[data-id="newgame"] {
  position:absolute;
  left:67px;
  top:7px;
}

.left .panel[data-id="game"] .button[data-id="rules"] {
  position:absolute;
  left:67px;
  top:34px;
}

.left .panel[data-id="game"] .button[data-id="options"] {
  position:absolute;
  left:135px;
  top:7px;
}

.left .panel[data-id="game"] .button[data-id="profile"] {
  position:absolute;
  left:135px;
  top:34px;
}

.left .panel[data-id="play"] .layer {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"] {
  position:absolute;
  left:67px;
  top:7px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="i"] {
  position:absolute;
  left:67px;
  top:34px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"] {
  position:absolute;
  left:135px;
  top:7px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"] {
  position:absolute;
  left:135px;
  top:34px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="showprompt"] .prompt,
.left .panel[data-id="play"] .layer[data-id="fold"] .prompt {
  position:absolute;
  left:5px;
  right:5px;
  top:8px;
  height:12px;
  line-height:12px;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  color:#f90;
}

.left .panel[data-id="play"] .layer[data-id="showprompt"] .buttons,
.left .panel[data-id="play"] .layer[data-id="fold"] .buttons {
  position:absolute;
  left:42px;
  right:42px;
  top:27px;
  height:37px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.left .panel[data-id="play"] .layer[data-id="bet"] .prompt,
.left .panel[data-id="play"] .layer[data-id="raise"] .prompt {
  position:absolute;
  left:5px;
  right:69px;
  top:8px;
  height:12px;
  line-height:12px;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  color:#f90;
}

.left .panel[data-id="play"] .layer[data-id="bet"] .amount,
.left .panel[data-id="play"] .layer[data-id="raise"] .amount {
  position:absolute;
  left:5px;
  right:69px;
  top:23px;
  height:12px;
  line-height:12px;
  font-size:11px;
  text-align:center;
  color:#fff;
}

.left .panel[data-id="play"] .layer[data-id="bet"] .spinner,
.left .panel[data-id="play"] .layer[data-id="raise"] .spinner {
  position:absolute;
  left:48px;
  right:112px;
  bottom:17px;
  height:18px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.left .panel[data-id="play"] .layer[data-id="bet"] .spinner .button.small,
.left .panel[data-id="play"] .layer[data-id="raise"] .spinner .button.small {
  display:inline-block;
  width:12px;
  height:11px;
  padding:1px;
  text-align:center;
  line-height:11px;
  font-size:10px;
  color:#fff;
}

.left .panel[data-id="play"] .layer[data-id="bet"] .spinner .button.small:hover,
.left .panel[data-id="play"] .layer[data-id="raise"] .spinner .button.small:hover {
  text-shadow:1px 1px 1px #0006;
}

.left .panel[data-id="play"] .layer[data-id="bet"] .spinner .button.small:hover:active,
.left .panel[data-id="play"] .layer[data-id="raise"] .spinner .button.small:hover:active {
  text-shadow:0px 0px 2px #0006;
  padding:2px 0px 0px 2px;
}

.left .panel[data-id="play"] .layer[data-id="bet"] .buttons,
.left .panel[data-id="play"] .layer[data-id="raise"] .buttons {
  position:absolute;
  right:12px;
  top:17px;
  bottom:17px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.hud[data-gamestate="pregame"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="newgame"] {
  display:inline-block;
}

.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="continuestakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="agreetostakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="continuestakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="agreetostakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="paystakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="agreetostakes1"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="paystakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="agreetostakes1"],
.hud[data-gamestate="wait"][data-inround="0"]:not([data-prompt="hide"]) .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="i"][data-id="buychips"],
.hud[data-gamestate="wait"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goin"],
.hud[data-gamestate="wait"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goout"],
.hud[data-gamestate="wait"][data-inround="1"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="deal"],
.hud[data-gamestate="wait"][data-inround="1"][data-prompt="paidstakes"][data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goin"],
.hud[data-gamestate="wait"][data-inround="1"][data-prompt="paidstakes"][data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goout"] {
  display:inline-block;
}

.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="continuestakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="agreetostakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="continuestakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="agreetostakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="paystakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="agreetostakes1"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="paystakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="agreetostakes1"],
.hud[data-gamestate="deal"][data-inround="0"]:not([data-prompt="hide"]) .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="i"][data-id="buychips"],
.hud[data-gamestate="deal"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goin"],
.hud[data-gamestate="deal"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goout"],
.hud[data-gamestate="deal"][data-inround="1"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="deal"],
.hud[data-gamestate="deal"][data-inround="1"][data-prompt="paidstakes"][data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goin"],
.hud[data-gamestate="deal"][data-inround="1"][data-prompt="paidstakes"][data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="goout"] {
  display:inline-block;
}

.hud[data-gamestate="deal1"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="dealflop"],
.hud[data-gamestate="deal2"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="dealturn"],
.hud[data-gamestate="deal3"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="dealriver"] {
  display:inline-block;
}

.hud[data-gamestate="join"][data-cancall="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="agreetostakes1"],
.hud[data-gamestate="join"][data-cancall="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="agreetostakes2"],
.hud[data-gamestate="join"][data-inround="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="goin"],
.hud[data-gamestate="join"][data-inround="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="goout"],
.hud[data-gamestate="join"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="buychips"] {
  display:inline-block;
}

.hud[data-gamestate="blind"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="blind"] {
  display:inline-block;
}

.hud[data-gamestate="bet"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="check"],
.hud[data-gamestate="bet"][data-canblind="1"][data-bettype="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="betnolimit"],
.hud[data-gamestate="bet"][data-canblind="1"][data-bettype="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="bet"],
.hud[data-gamestate="bet"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="i"][data-id="allin"],
.hud[data-gamestate="bet"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="check"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="check"],
.hud[data-gamestate="check"][data-canraise="1"][data-bettype="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="raisenolimit"],
.hud[data-gamestate="check"][data-canraise="1"][data-bettype="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="raise"],
.hud[data-gamestate="check"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="i"][data-id="allin"],
.hud[data-gamestate="check"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="call"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="call"],
.hud[data-gamestate="call"][data-canraise="1"][data-bettype="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="raisenolimit"],
.hud[data-gamestate="call"][data-canraise="1"][data-bettype="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="b"][data-id="raise"],
.hud[data-gamestate="call"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="i"][data-id="allin"],
.hud[data-gamestate="call"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="allin"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="i"][data-id="allin"],
.hud[data-gamestate="allin"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="showdown"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="showcards"],
.hud[data-gamestate="showdown"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="endgame"][data-playagain="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="playagain1"],
.hud[data-gamestate="endgame"][data-ishost="1"][data-playagain="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="playagain2"],
.hud[data-gamestate="endgame"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="newgame"] {
  display:inline-block;
}

.hud[data-gamestate="gameover"][data-playagain="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="playagain1"],
.hud[data-gamestate="gameover"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="a"][data-id="playagain1"],
.hud[data-gamestate="gameover"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="f"][data-id="newgame"] {
  display:inline-block;
}

.hud[data-confirm=""] .left .panel[data-id="play"] .layer[data-id="play"],
.hud[data-confirm="showprompt"] .left .panel[data-id="play"] .layer[data-id="showprompt"],
.hud[data-confirm="fold"] .left .panel[data-id="play"] .layer[data-id="fold"],
.hud[data-confirm="bet"] .left .panel[data-id="play"] .layer[data-id="bet"],
.hud[data-confirm="raise"] .left .panel[data-id="play"] .layer[data-id="raise"] {
  display:inline-block;
}

.middle {
  width:547px;
  height:100%;
  overflow:hidden;
}

.middle .top {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  height:55px;
  border-left:1px solid rgba(255, 255, 255, 0.25);
  border-right:1px solid rgba(0, 0, 0, 0.5);
  border-bottom:1px solid #000;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-around;
}

.middle .top .table {
  position:relative;
  height:100%;
  flex:1 1 0;
  background-clip:content-box;
  padding-left:1px;
  padding-right:1px;
  border-right:1px solid #000;
  font-size:0px;
  display:none;
}

.middle .top .table:not([data-player="1"]) {
  background-color:rgba(0, 0, 0, 0.15);
}

.middle .top .table::before {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  border-left:1px solid rgba(255, 255, 255, 0.25);
  border-right:1px solid rgba(0, 0, 0, 0.5);
  border-bottom:1px solid rgba(0, 0, 0, 0.5);
  content:' ';
  pointer-events:none;
}

.middle .top .table[data-player="1"] {
  padding-left:0px;
}

.middle .top .table[data-player="1"]::before {
  border-left:none;
}

.hud[data-playercount="4"] .middle .top .table {
  width:25%;
}

.hud[data-playercount="8"] .middle .top .table {
  width:12.5%;
}

.hud[data-playercount="4"] .middle .top .table[data-player="1"],
.hud[data-playercount="4"] .middle .top .table[data-player="2"],
.hud[data-playercount="4"] .middle .top .table[data-player="3"],
.hud[data-playercount="4"] .middle .top .table[data-player="4"],
.hud[data-playercount="8"] .middle .top .table[data-player="1"],
.hud[data-playercount="8"] .middle .top .table[data-player="2"],
.hud[data-playercount="8"] .middle .top .table[data-player="3"],
.hud[data-playercount="8"] .middle .top .table[data-player="4"],
.hud[data-playercount="8"] .middle .top .table[data-player="5"],
.hud[data-playercount="8"] .middle .top .table[data-player="6"],
.hud[data-playercount="8"] .middle .top .table[data-player="7"],
.hud[data-playercount="8"] .middle .top .table[data-player="8"] {
  display:inline-block;
}

.hud[data-playercount="4"] .middle .top .table[data-player="4"],
.hud[data-playercount="8"] .middle .top .table[data-player="8"] {
  padding-right:0px;
  border-right:none;
}

.hud[data-playercount="4"] .middle .top .table[data-player="4"]::before,
.hud[data-playercount="8"] .middle .top .table[data-player="8"]::before {
  border-right:none;
}

.middle .top .table .title {
  position:relative;
  left:0px;
  right:0px;
  top:0px;
  height:18px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items:center;
}

.middle .top .table .turn {
  width:16px;
  height:13px;
  flex-shrink:0;
  display:none;
}

.middle .top .table .turn[data-visible="0"],
.middle .top .table .turn[data-visible="1"] {
  display:inline-block;
}

.middle .top .table .turn[data-visible="1"] {
  background-image:url(hud.png);
  background-position:-51px -285px;
}

.middle .top .table .icons {
  flex-shrink:0;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:flex-start;
}

.middle .top .table .icons .icon[data-id] {
  display:inline-block;
  margin-left:2px;
  background-image:url(hud_holdem.png);
  background-position-y:0px;
}

.middle .top .table .icons .icon[data-id="fold"] {
  width:11px;
  height:11px;
  background-position-x:0px;
}

.middle .top .table .icons .icon[data-id="win"],
.middle .top .table .icons .icon[data-id="win2"],
.middle .top .table .icons .icon[data-id="win3"] {
  width:13px;
  height:12px;
  background-position-x:-11px;
}

.middle .top .table .icons .icon[data-id="check"] {
  width:12px;
  height:12px;
  background-position-x:-24px;
}

.middle .top .table .icons .icon[data-id="bet"],
.middle .top .table .icons .icon[data-id="call"] {
  width:14px;
  height:14px;
  background-position-x:-36px;
}

.middle .top .table .icons .icon[data-id="raise"] {
  width:18px;
  height:17px;
  background-position-x:-50px;
}

.middle .top .table .icons .icon[data-id="allin"] {
  width:18px;
  height:17px;
  background-position-x:-68px;
}

.middle .top .table .icons .icon[data-id="blind"] {
  width:15px;
  height:15px;
  background-position-x:-86px;
}

.middle .top .table .icons .icon[data-id="dealer"] {
  width:14px;
  height:14px;
  background-position-x:-101px;
}

.middle .top .table .player {
  padding-left:2px;
  padding-right:2px;
  line-height:18px;
  font-size:11px;
  color:#fff;
  text-align:left;
  font-weight:bold;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  flex-grow:1;
}

.middle .top .table .player[data-leader="1"] {
  font-style:italic;
}

.middle .top .table .play {
  position:relative;
  left:0px;
  right:0px;
  padding-left:2px;
  padding-right:2px;
  height:12px;
  line-height:12px;
  font-size:11px;
  color:#fff;
  text-align:left;
}

.middle .top .table .bet {
  position:relative;
  left:0px;
  right:0px;
  padding-left:2px;
  padding-right:2px;
  height:12px;
  line-height:12px;
  font-size:11px;
  color:#fff;
  text-align:left;
}

.middle .top .table .chips {
  position:relative;
  left:0px;
  right:0px;
  padding-left:2px;
  padding-right:2px;
  height:12px;
  line-height:12px;
  font-size:11px;
  color:#fff;
  text-align:right;
}

.middle .top .table .cardset[data-id^="hand"] {
  position:absolute;
  left:0px;
  bottom:2px;
  font-size:0px;
  display:none;
  flex-direction:row;
  justify-content:flex-start;
  transform-origin:bottom left;
  transform:scale(0.6);
}

.middle .top .table .cardset[data-id^="hand"] .card {
  margin-left:2px;
  box-shadow:none;
}

.middle .top .table .button[data-id="fold"] {
  position:absolute;
  left:calc(50% - 26px);
  top:calc(50% - 9px);
  display:none;
}

.hud:not([data-gamestate="wait"]):not([data-gamestate="deal"])[data-canforcefold="1"] .middle .top .table[data-isaway="1"] .button[data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="showdown"] .middle .top .table[data-play="showcards"] .cardset[data-id^="hand"],
.hud[data-gamestate="endgame"] .middle .top .table .cardset[data-id^="hand"],
.hud[data-gamestate="gameover"] .middle .top .table .cardset[data-id^="hand"] {
  display:flex;
}

.hud:not([data-gamestate="wait"]):not([data-gamestate="deal"]) .middle .top .table[data-ingame="0"] *,
.hud[data-gamestate="wait"] .middle .top .table[data-ingame="0"][data-inseat="0"] *,
.hud[data-gamestate="deal"] .middle .top .table[data-ingame="0"][data-inseat="0"] * {
  display:none;
}

.hud[data-gamestate="showdown"] .middle .top .table[data-play="showcards"] .bet,
.hud[data-gamestate="endgame"] .middle .top .table .bet,
.hud[data-gamestate="gameover"] .middle .top .table .bet {
  visibility:hidden;
}

.hud[data-gamestate="showdown"] .middle .top .table .chips,
.hud[data-gamestate="endgame"] .middle .top .table .chips,
.hud[data-gamestate="gameover"] .middle .top .table .chips {
  visibility:hidden;
}

.middle .bottom {
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  height:42px;
  font-size:0px;
  border-left:1px solid rgba(255, 255, 255, 0.25);
  border-right:1px solid rgba(0, 0, 0, 0.5);
  border-top:1px solid rgba(255, 255, 255, 0.25);
}

.middle .bottom .stats {
  position:absolute;
  left:11px;
  top:0px;
  width:260px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.middle .bottom .stats span {
  font-size:11px;
  font-weight:bold;
  text-align:center;
  color:#fff;
}

.middle .bottom .message {
  position:absolute;
  left:11px;
  bottom:5px;
  width:300px;
  height:27px;
  line-height:12px;
  font-size:11px;
  color:#fff;
  display:flex;
  align-items:flex-end;
  justify-content:space-evenly;
}

.middle .bottom .cardset[data-id="hand"] {
  position:absolute;
  right:165px;
  bottom:3px;
  font-size:0px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.middle .bottom .cardset[data-id="spot"] {
  position:absolute;
  right:8px;
  bottom:3px;
  font-size:0px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}

.middle .bottom .cardset[data-id="hand"] .card,
.middle .bottom .cardset[data-id="spot"] .card {
  margin-left:2px;
  box-shadow:none;
}

.middle .bottom .divider {
  position:absolute;
  right:157px;
  top:0px;
  bottom:0px;
  width:0px;
  border-left:1px solid rgba(0, 0, 0, 0.5);
  border-right:1px solid rgba(255, 255, 255, 0.25);
}