.left .panel[data-id="game"] .logo {
  position:absolute;
  left:2px;
  top:1px;
  width:60px;
  height:54px;
  background-image:url(logo_spades.png);
}

.left .panel[data-id="game"] .button[data-id="newgame"] {
  position:absolute;
  left:67px;
  top:7px;
}

.left .panel[data-id="game"] .button[data-id="rules"] {
  position:absolute;
  left:67px;
  top:34px;
}

.left .panel[data-id="game"] .button[data-id="deal"],
.left .panel[data-id="game"] .button[data-id="play"],
.left .panel[data-id="game"] .button[data-id="taketrick"] {
  position:absolute;
  left:135px;
  top:7px;
  display:none;
}

.left .panel[data-id="game"] .bid:first-of-type {
  position:absolute;
  left:7px;
  top:13px;
  font-size:0px;
}

.left .panel[data-id="game"] .bid:last-of-type {
  position:absolute;
  left:7px;
  top:33px;
  font-size:0px;
}

.left .panel[data-id="game"] .bid .button {
  margin-right:5px;
}

.hud[data-gamestate="bid"] .left .panel[data-id="game"] .logo,
.hud[data-gamestate="bid"] .left .panel[data-id="game"] .button[data-id="newgame"],
.hud[data-gamestate="bid"] .left .panel[data-id="game"] .button[data-id="rules"] {
  display:none;
}

.hud:not([data-gamestate="bid"]) .left .panel[data-id="game"] .bid {
  display:none;
}

.hud[data-gamestate="pregame"] .left .panel[data-id="game"] .button[data-id="deal"],
.hud[data-gamestate="deal"] .left .panel[data-id="game"] .button[data-id="deal"] {
  display:inline-block;
}

.hud[data-gamestate="play"] .left .panel[data-id="game"] .button[data-id="play"],
.hud[data-gamestate="playsend"] .left .panel[data-id="game"] .button[data-id="play"] {
  display:inline-block;
}

.hud[data-gamestate="taketrick"] .left .panel[data-id="game"] .button[data-id="taketrick"],
.hud[data-gamestate="endgame"] .left .panel[data-id="game"] .button[data-id="taketrick"] {
  display:inline-block;
}