.hud {
  height:99px;
}

.left .panel[data-id="game"] .logo,
.left .panel[data-id="play"] .layer[data-id="play"] .logo {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  height:54px;
  background-image:url(logo_holdem.png);
}

.left .panel[data-id="game"] .button[data-id="newgame"] {
  position:absolute;
  left:67px;
  top:7px;
}

.left .panel[data-id="game"] .button[data-id="rules"] {
  position:absolute;
  left:67px;
  top:34px;
}

.left .panel[data-id="game"] .button[data-id="options"] {
  position:absolute;
  left:135px;
  top:7px;
}

.left .panel[data-id="game"] .button[data-id="profile"] {
  position:absolute;
  left:135px;
  top:34px;
}

.left .panel[data-id="play"] .layer {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"] {
  position:absolute;
  left:67px;
  top:7px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"] {
  position:absolute;
  left:67px;
  top:34px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"] {
  position:absolute;
  left:135px;
  top:7px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"] {
  position:absolute;
  left:135px;
  top:34px;
  display:none;
}

.left .panel[data-id="play"] .layer[data-id="showprompt"] .prompt {
  position:absolute;
  left:5px;
  right:5px;
  top:8px;
  height:12px;
  line-height:12px;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  color:#f90;
}

.left .panel[data-id="play"] .layer[data-id="showprompt"] .buttons {
  position:absolute;
  left:42px;
  right:42px;
  top:27px;
  height:37px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="continuestakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="agreetostakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="continuestakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="agreetostakes"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="paystakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="agreetostakes1"],
.hud[data-gamestate="wait"][data-inround="0"][data-prompt="paystakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="agreetostakes1"],
.hud[data-gamestate="wait"][data-inround="0"]:not([data-prompt="hide"]) .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"][data-id="buychips"],
.hud[data-gamestate="wait"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goin"],
.hud[data-gamestate="wait"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goout"],
.hud[data-gamestate="wait"][data-inround="1"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="deal"],
.hud[data-gamestate="wait"][data-inround="1"][data-prompt="paidstakes"][data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goin"],
.hud[data-gamestate="wait"][data-inround="1"][data-prompt="paidstakes"][data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goout"] {
  display:inline-block;
}

.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="continuestakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="agreetostakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="continuestakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="refillstakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="agreetostakes"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="paystakes"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="agreetostakes1"],
.hud[data-gamestate="deal"][data-inround="0"][data-prompt="paystakesno"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="agreetostakes1"],
.hud[data-gamestate="deal"][data-inround="0"]:not([data-prompt="hide"]) .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"][data-id="buychips"],
.hud[data-gamestate="deal"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goin"],
.hud[data-gamestate="deal"][data-inround="0"]:not([data-prompt="hide"])[data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goout"],
.hud[data-gamestate="deal"][data-inround="1"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="deal"],
.hud[data-gamestate="deal"][data-inround="1"][data-prompt="paidstakes"][data-ingame="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goin"],
.hud[data-gamestate="deal"][data-inround="1"][data-prompt="paidstakes"][data-ingame="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="goout"] {
  display:inline-block;
}

.hud[data-gamestate="deal1"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="dealflop"],
.hud[data-gamestate="deal2"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="dealturn"],
.hud[data-gamestate="deal3"][data-isactiveplayer="1"][data-isdealer="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="dealriver"] {
  display:inline-block;
}

.hud[data-gamestate="join"][data-loc21="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="agreetostakes1"],
.hud[data-gamestate="join"][data-loc21="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="agreetostakes2"],
.hud[data-gamestate="join"][data-inround="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="goin"],
.hud[data-gamestate="join"][data-inround="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="goout"],
.hud[data-gamestate="join"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="buychips"] {
  display:inline-block;
}

.hud[data-gamestate="blind"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="blind"],
.hud[data-gamestate="blind"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"][data-id="allin"],
.hud[data-gamestate="blind"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="bet"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="check"],
.hud[data-gamestate="bet"][data-loc22="1"][data-bettype="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="betnolimit"],
.hud[data-gamestate="bet"][data-loc22="1"][data-bettype="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="bet"],
.hud[data-gamestate="bet"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"][data-id="allin"],
.hud[data-gamestate="bet"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="check"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="check"],
.hud[data-gamestate="check"][data-loc100="1"][data-bettype="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="raisenolimit"],
.hud[data-gamestate="check"][data-loc100="1"][data-bettype="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="raise"],
.hud[data-gamestate="check"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"][data-id="allin"],
.hud[data-gamestate="check"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="call"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="call"],
.hud[data-gamestate="call"][data-loc100="1"][data-bettype="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="raisenolimit"],
.hud[data-gamestate="call"][data-loc100="1"][data-bettype="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="actionb"][data-id="raise"],
.hud[data-gamestate="call"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"][data-id="allin"],
.hud[data-gamestate="call"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="allin"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="allin"][data-id="allin"],
.hud[data-gamestate="allin"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="fold"] {
  display:inline-block;
}

.hud[data-gamestate="endgame"][data-loc12="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="playagain1"],
.hud[data-gamestate="endgame"][data-ishost="1"][data-loc12="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="playagain2"],
.hud[data-gamestate="endgame"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="newgame"] {
  display:inline-block;
}

.hud[data-gamestate="pregame"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="newgame"] {
  display:inline-block;
}

.hud[data-gamestate="gameover"][data-loc12="0"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="playagain1"],
.hud[data-gamestate="gameover"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="action"][data-id="playagain1"],
.hud[data-gamestate="gameover"][data-ishost="1"] .left .panel[data-id="play"] .layer[data-id="play"] .button[data-button="fold"][data-id="newgame"] {
  display:inline-block;
}

.left .panel[data-id="play"] .layer[data-id="play"] { /* TODO: Add conditions */
  display:inline-block;
}